*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
.container{
    width: 100%;
}
.chicken{
    border: 1px solid black;
    width: 30%;
    margin: 1%;
    float: left;
    position: relative;
    background: slategrey;
}
.beef{
    border: 1px solid black;
    width: 30%;
    margin: 1%;
    float: left;
    position: relative;
    background: slategrey;
}
.shushi{
    width: 30%;
    margin: 1%;
    float: left;
    position: relative;
    border: 1px solid black;
    background: slategrey;
}
h1{
    text-align: center;
    font-size: 17.5px;
    margin: 2%;
}
h3{
    font-size: 12.5px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: 1px solid black;
    padding: 0 10px;
    margin-top: -1px;
    margin-right: -1px;
}
p{
    font-size: 10px;
    margin-top: 15px;
    padding: 10px;
}
.chicken h3{
    background: pink;
}
.beef h3{
    background: red;
}
.shushi h3{
    background: seagreen;
}
@media (max-width:992px){
    .shushi{
        clear: both;
        float: none;
        width: 100%;

    }
    .chicken,.beef{
        width: 48%;
    }
}
@media (max-width:768px){
    .chicken,.beef,.shushi{
        width: 100%;
    }
    .chicken{
        margin-bottom: 1%;
    }
    .beef{
        margin-bottom: 1%;
        margin-top: 0%;
    }
}